[2015-10-21 10:48] ofry opened #4 "[PS3] Fail to link core to Retroarch"
Log is there: http://pastebin.com/JhqMFR2Y

[2017-02-09 13:38] gingerbeardman opened #10 "Ability to map controls to all keys"
For example I play a game ([Hanafuda by Toshiba EMI](https://www.youtube.com/watch?v=Gx6-HmDUeL0)) where I need to select difficulty using keys 1,2,3 or select a card using 1,2,3,4,5,6,7,8 but I cannot do this so I cannot proceed.

It would be good if keys from the whole MSX keyboard are available for mapping.

Using RA 1.4.1 on New3DS

[2017-06-18 19:16] ThaDaVos opened #11 "Can't use this with controller/keyboard in Kodi"
I've been trying all day to get the emulator to work with a game called "Antarctic Adventure" to supprise my parents.
But the whole emulator is just not responding to anything, can't select using number keys 1 and 2.
It just does nothing else then playing the game and some sort of trailer in a loop.

Please help...
How can I make it so I can play a game?

Game works in Windows version of fMSX

[2017-06-18 19:33] hizzlekizzle commented on #11
Does it work outside of Kodi?

[2017-06-18 22:22] hizzlekizzle commented on #11
Just to make sure we're on the same page, when you say "fMSX for Windows" you're referring to the libretro core and you're running it through RetroArch, not standalone fMSX?

[2017-06-19 14:39] hizzlekizzle commented on #11
You can open up your retroarch.cfg and change the fast-forward toggle to from "space" to "nul" to get rid of the conflict. Do the same for any other conflicts you run into.

Once you have it all working in RetroArch, you should be able to get it going in Kodi. Are you using something like RocketLauncher?

[2017-06-19 19:48] hizzlekizzle commented on #11
ohhh, I thought you were using a launcher to launch RetroArch from Kodi. I unfortunately have zero experience with the Retroplayer, but I suspect RetroArch's configs are not directly applicable to it.

[2017-06-19 22:27] twinaphex commented on #11
The onus is on your particular libretro frontend implementation to implement the keyboard.

[2017-06-24 16:52] gingerbeardman opened #12 "Error "Disk full at 40""
This rom works fine in openMSX

in Retroarch fMSX it fails with "Disk full at 40"

[koikoi.rom.zip](https://github.com/libretro/fmsx-libretro/files/1099883/koikoi.rom.zip)

[2017-06-25 14:11] ensrha opened #13 "Lacks support for cassette/disk images"
Many European games (Feud, Chuckie Egg, etc) weren't released on ROM cartridge, so they're currently not playable.

[2017-06-26 13:15] gingerbeardman commented on #13
@ensrha a temporary workaround: https://www.msx.org/news/software/en/dsk2rom-080

I used this to create a custom .dsk to .rom which boots OK

[2017-06-26 13:17] gingerbeardman commented on #12
OK, I have been looking into this problem...

the error is related to the memory settings that the fMSX core is compiled with.

the BASIC code sets up a RAMDISK at line 40. But this is not big enough for the data to be loaded, resulting in the error: `Disk full in 40`

Aside: if you don't use MSXDOS2 the error is different, because the RAMDISK command is not available: `Syntax error in 40`

[2017-06-26 15:26] gingerbeardman commented on #12
So to resolve this the memory configuration settings need exposing.

In the original fMSX the user can set memory sizes for the emulated machine:
Main memory: 64KB,128KB,256KB,512KB
Video memory: 32KB,64KB,128KB,256KB,512KB

So I am working on adding these options to fmsx-libretro

[2017-06-26 15:44] gingerbeardman commented on #12
Done in #14

[2017-06-26 16:08] gingerbeardman commented on #13
I've added (untested) support for .dsk and .cas file extensions in pull #15

[2017-06-27 05:37] orbea opened #16 "Linux build failure."
OS: `Slaclware64-current`
`gcc-7.1.0`

fmsx-libretro fails to build.
[code]
Bisect.
[code]
934594234e299ac121955f5214b81b300cf57521

Build failure on the initial bad commit, it has since gotten worse as seen above.
[code]

[2017-06-27 11:00] ensrha commented on #13
Thanks for the recommendation of dsk2rom. I found the source code at [Vincent's MSX software](http://home.kabelfoon.nl/~vincentd/) and built it for unix. Converted Feud, and it works perfectly. Chuckie Egg loads but isn't really playable since it doesn't support a joystick.

Currently this repository doesn't build, but if I roll back to ae3d93a4a1c37dcd24430a10c9d6fe9f4c60a1f1 and try to load a di

[2017-06-27 11:21] gingerbeardman commented on #13
OK I will have to revert the dsk & was changes and wait for somebody more familiar with the source to step in. Sorry!

[2017-06-27 11:29] gingerbeardman commented on #16
See pull #17

[2017-06-27 12:09] gingerbeardman commented on #13
@ensrha I've taken a look at the code and I'm actually confident I can do this as soon as my cores are building.

As well as adding the file extension support, I need to branch the filename loading to ROM or DSK depending on the file type

[2017-06-27 12:51] gingerbeardman commented on #13
I've completed these changes, will wait until I have working core builds before pushing

[2017-06-27 13:46] orbea commented on #16
You can't just type `make` to build the core?

[2017-06-27 14:18] ensrha commented on #16
Isn't that because you didn't change "strcp" to "strcmp" in libretro.c

[2017-06-27 14:26] gingerbeardman commented on #16
Oh dear, thanks for spotting that!

[2017-06-27 15:16] #16 closed

[2017-06-27 15:23] orbea opened #19 "Gamepad non-responsive (Regression)"
OS: `Slackware64-current`
`RetroArch-1.6.0-x86_64-1_SBo`

When starting a game with fmsx-libretro the gamepad will be non-responsive. To workaround this open the control settings in the quick menu and reset the gamepad to default with the start button. It should not require this and just work.

I bisected it and found it broke here.
[code]
a58af0d162fd80852903ec87cd271b3220fdca22

@aliaspider Can

[2017-06-27 15:42] orbea commented on #11
The joystick not working may be the same issue as https://github.com/libretro/fmsx-libretro/issues/19?

[2017-06-27 16:11] gingerbeardman commented on #13
@ensrha there are many ways an MSX disc might boot.

the one i am using has an AUTOEXEC.BAT file.

other methods are listed here: http://www.msxblue.com/manual/dskfaq_c.htm

but really the only way to solve the boot issue is to add a keyboard.

[2017-06-27 17:20] gingerbeardman commented on #13
Success with DSK!

Partial success with CAS, more work required.

[2017-06-28 10:48] gingerbeardman commented on #13
This has been completed in: https://github.com/libretro/fmsx-libretro/pull/20

[2017-06-28 12:03] gingerbeardman opened #21 "Make disks swappable for multidisk games"
As title

[2017-06-28 12:03] gingerbeardman opened #22 "Touch screen virtual keyboard for Nintendo 3DS"
As title

[2017-06-28 18:49] gingerbeardman commented on #13
@ensrha disk support has been merged, it's the latest nightly. would appreciate your feedback!

[2017-06-28 23:43] ensrha commented on #13
Great!

OK, I've tested this using the two example games from my initial post. The Chuckie Egg disk image loads successfully, but the Feud image hangs on a blue screen. For the sake of experiment, I tried to load another two games, 180 and Manic Miner. 180 shows a "Loading, please wait" screen with a small bit of text corruption and hangs. Manic Miner loads successfully. The standalone fmsx displa

[2017-06-29 00:14] ensrha commented on #13
I'm closing this because the problems that remain seem more likely to be related to the emulation code than the libretro frontend. Thanks for your help.

[2017-06-29 00:14] #13 closed

[2017-06-29 08:54] gingerbeardman commented on #13
Great.

I'll do some further investigation anyway.

On Thursday, 29 June 2017, ensrha <notifications@github.com> wrote:

[2017-06-29 10:32] gingerbeardman commented on #13
@ensrha As with all of these old computers there are many different versions of these old games. The first images I tried for your 4 games had the same symptoms as yours.

I had better luck with the disks from this page: https://www.msx.org/node/44843
All your 4 chosen games work in fMSX with those well packaged and tested disks.

Also, for future reference here's a list of game compatibility for

[2017-06-29 10:39] gingerbeardman opened #23 ""Device i/o error" with *.cas files"
Verbose log says tape filename is correct, need to check/debug that tape stream actually contains data?

Error seems to signify that no tape is attached?  (according to an experienced MSX user—not me)

[2017-06-30 10:02] gingerbeardman opened #24 "Update fMSX to latest version (4.9; 15 March 2017)"
I already have this working :)

[2017-06-30 11:06] gingerbeardman commented on #24
Done in https://github.com/libretro/fmsx-libretro/pull/25

[2017-06-30 11:14] #24 closed

[2017-06-30 11:34] gingerbeardman commented on #11
@orbea I think #19 is the problem for your joystick. does the workaround in #19 work for you?

[2017-06-30 21:40] Tatsuya79 opened #26 "little endian / big endian issue"
Win7 x64 got a crash and this message with fmsx from the buildbot today:

********* This machine is little-endian. **********
Take #define MSB_FIRST out and compile fMSX again.

Twinaphex said that we should modify fmsx to use MSB_FIRST for big endian and LSB_FIRST should be assumed without any definition necessary.

If I compile it myself with #define LSB_FIRST in Z80.h it works fine that said.

[2017-06-30 21:42] orbea commented on #11
@gingerbeardman You do realize I posted that issue, right? :)

[2017-06-30 21:46] gingerbeardman commented on #11
@orbea oh! Hahahaha. Sorry 😳

[2017-07-01 08:14] Tatsuya79 commented on #26
Well, he fixed it directly, closing this.

[2017-07-01 08:14] #26 closed

[2017-07-27 23:25] gingerbeardman opened #28 "fMSX 5.0 released - needs merging"
fMSX 5.0 released (10 July 2017)

changelog:
https://fms.komkon.org/fMSX/fMSX.html#LABA

source:
https://fms.komkon.org/fMSX/#Downloads

status:
I am having trouble getting 5.0 to run with libretro.
getting it to compile was tricky.

[2017-07-28 00:03] gingerbeardman commented on #28
Partial: https://github.com/libretro/fmsx-libretro/pull/29

[2017-08-08 21:34] orbea commented on #19
I can no longer reproduce this, I presume there was a change in RetroArch, I am now using `RetroArch-1.6.4-x86_64-1_SBo`. I am going to close this until someone can reproduce it again.

[2017-08-08 21:34] #19 closed

[2017-08-08 21:35] orbea commented on #11
Can anyone reproduce this anymore, I can not reproduce issue https://github.com/libretro/fmsx-libretro/issues/19 anymore with RetroArch.

[2017-09-13 17:13] prg318 opened #30 "No license file included"
The fMSX license should be distributed with this project - no license in indicated for this repo

[2017-10-08 20:20] gingerbeardman commented on #30
Please see https://github.com/libretro/fmsx-libretro/blob/master/fMSX/fMSX.html and add a pull for the correct licence file.

[2017-10-09 15:53] prg318 commented on #30
Could we get a license blurb straight from the author?  I have no problem making the pull request, but I feel more comfortable getting the license text directly from the author.  I don't mean to be a pedant but could you check with the author if he could provide a license text for us to use?  I find two license-like-things in fMSX

From the fMSX.html you linked:
[code]

Source code comments:
[code

[2017-10-09 16:16] gingerbeardman commented on #30
The top one is the licence the author wants to use.

Also see: https://groups.google.com/forum/#!topic/emul8/hEttowf2Vmg

[2017-10-09 16:24] gingerbeardman commented on #30
Added in #31

[2017-10-09 19:27] gingerbeardman commented on #30
Pull has been merged, please close @prg318

[2017-10-09 19:50] prg318 commented on #30
Great!  Thanks @gingerbeardman

[2017-10-09 19:50] #30 closed

[2017-12-07 21:38] KMFDManic opened #32 "Feature Request - Ability to map keyboard keys to controller within the Core"
I run this amazing Core on NESC/SNESC!  I previously had this same feature request for the great Commodore 64 (Vice Core), as stated here...

https://github.com/libretro/vice-libretro/issues/7

The end result of that request was perfect for NESC/SNESC   Here is it, in action...Go about 2 minutes in!

https://www.youtube.com/watch?v=dBn9MkHUA_E&feature=youtu.be

Thank you so much for your time and

[2017-12-07 21:44] fr500 commented on #32
That's not using the generic keymapper, bluemsx has it already and that's the actual generic keymapper unlike the one you showed here.

![image](https://user-images.githubusercontent.com/1721040/33740195-d3b94c8a-db6d-11e7-91e9-fb7632ff6d36.png)

![image](https://user-images.githubusercontent.com/1721040/33740201-d7fd04b2-db6d-11e7-9c1a-56f8376ffb8f.png)

[2017-12-07 21:50] fr500 commented on #32
Of course you need a recent RetroArch for this, you're using 1.4.1

[2017-12-07 22:00] KMFDManic commented on #32
I am actually on 1.6.7 now. That video is from then.

[2017-12-07 22:02] fr500 commented on #32
![image](https://user-images.githubusercontent.com/1721040/33740894-595bf372-db70-11e7-9ea6-e9b3ba481a18.png)

[2017-12-07 22:06] KMFDManic commented on #32
I recorded that video when I was using 1.4.1  I am using RetroArch 1.6.7 now.  The request is to have it just like in Commodore 64 Vice Core, and be able to select the keys.  The actual mapping within the Cores, does not allow all of the keyboard keys to be applied to the controller.  It is limited.  RetroArch 1.6.9, which you did the picture of, has that added better implementation of mapping key

[2017-12-07 22:19] fr500 commented on #32
The screenshots I'm showing you are the generic keymapper, it allos to bind gamepad buttons to keys.
Not sure about VICE or anything but that's the generic keymapper people have been discussing, I have implemented it in dosbox, px68k and bluemsx

[2017-12-29 01:22] gingerbeardman commented on #32
Similar to #10 which predated the new keymapper

[2018-01-23 13:45] KMFDManic commented on #32
@fr500 thanks again for your help in integrating your fantastic keymapper.  We got RetroArch properly updated, and all is perfect, now using the bind method:)

[2018-01-23 13:45] #32 closed

[2018-09-28 23:35] ofry opened #40 "Feature request: SRAM-style saves"
My feature request: in-game saves.

Without it, for example, it's TOTALLY impossible to finish "Knightmare 3: Shalom" game. That's because in middle of this game I must save, turn off MSX, turn on again, and load this save to move forward...

Information about this game:
https://gamefaqs.gamespot.com/msx/918191-knightmare-3-shalom

[2018-09-28 23:42] twinaphex commented on #28
Hi there @gingerbeardman,

is this still something we should do? If we do, what do we miss out on in terms of the current commits pushed to master?

Could you perhaps rebase your changes for easier merging?

[2018-10-04 03:43] ofry opened #42 "Feature request: MSX DiskROM support"
`DISK.ROM     - MSX DiskROM containing BDOS and Disk BASIC (optional)`

This is required for read-write support to disks (example: save smth on MSX disk)

This is related to #40

[2018-10-13 01:55] twinaphex commented on #42
@gingerbeardman Hi there, would you perhaps  be interested in implementing this? It would be much appreciated.

[2018-10-15 22:55] gingerbeardman commented on #42
Yes, I'll try to make time soon @twinaphex

@ofry so I understand it, fMSX has supported this feature for a long time. So what is lacking in the libretro port? Just UI to enable the setting (would normally be done on command-line)?

[2018-10-16 06:54] ofry commented on #42
First part of this task is add DISK.ROM to firmware list as optional firmware...

[2018-10-16 06:58] gingerbeardman commented on #28
Current fMSX version is 5.4

[2018-10-16 07:11] gingerbeardman commented on #42
Sorry, I'm not sure I follow @ofry

[The DISK.ROM file is already part of this repo](https://github.com/libretro/fmsx-libretro/tree/master/fMSX/ROMs) and [referenced in the source code](https://github.com/libretro/fmsx-libretro/search?q=disk.rom&unscoped_q=disk.rom).

A PR, or longer description of the problem, would help.

[2018-10-16 07:27] gingerbeardman commented on #42
OK, I guess you mean it is not listed in docs?

https://github.com/libretro/docs/blob/master/docs/library/fmsx.md

I have made the edit and filed a PR there: https://github.com/libretro/docs/pull/155/files

This change does not affect or enhance the operation of the emulator core in any way.

Feel free to close this issue if that addresses your initial request.

[2018-10-16 07:29] gingerbeardman commented on #40
@ofry can you explain what you have tried and how it is not working?

As far as I know the emulator core already supports this.

[2018-10-16 07:31] gingerbeardman commented on #10
@twinaphex @fr500  did this core benefit from the recent keyboard remapping UI change?

[2018-10-16 07:35] ofry commented on #42
one more:

need to put this to firmware array in fmsx_libretro.info in these repos:

https://github.com/libretro/libretro-super
https://github.com/libretro/libretro-core-info

[2018-10-16 07:51] ofry commented on #40
I mean "SRAM saves" in libretro terminology.

[2018-10-16 08:37] gingerbeardman commented on #40
OK, I think you should look into how the MSX works a little more as there is some misunderstanding on your part.

The MSX is a disk home computer with keyboard that stores its software to removable media, similar to Spectrum/C64/Amiga/Atari/IBM-PC/Apple. The user saved information/gamedata onto floppy disks or cassette tapes, not battery backup flash memory like most game consoles do. So you would

[2018-10-16 09:30] ofry commented on #40
Yes, I know MSX is home computer...

But in libretro terminology, for example, PSOne memory card image is "SRAM save" too.

So core should create and format new floppy disk image for every new game.

[2018-10-16 09:38] gingerbeardman commented on #40
Yes, this is the easiest way.

Aside: the approach to saving game data varies from game to game, which is why SRAM-style saving in fMSX is not really feasible, regardless of which port/version of fMSX you are using.

[2018-10-18 19:41] ofry commented on #42
Thanks for help.

[2018-10-18 19:41] #42 closed

[2018-10-18 19:44] ofry opened #43 "Feature request: I/O"
This is related to https://github.com/libretro/fmsx-libretro/issues/40

Now fMSX starts without any disk inside, even if I select "Start Core" (without content).

Proof:

![-181018-223159](https://user-images.githubusercontent.com/11790863/47179707-6a92f000-d327-11e8-9a07-b4010ef09614.png)

[2018-10-18 20:02] gingerbeardman commented on #43
This is correct, that is exactly what a real MSX computer does.

That blue screen is the BASIC prompt, you can type in your own programs and make your own games should you want to.

Please, you need to read up about how an MSX works. This is not an issue/bug but you not having enough experience with the PSX platform.

Please close.

[2018-10-18 20:03] gingerbeardman commented on #40
Not possible, please close.

[2018-10-19 12:08] ofry commented on #43
Don't understand you.

FILES is MSX DISK BASIC operator.

https://www.msx.org/wiki/FILES

So this screenshot proves in my MSX no disks present at all.

As "disk" I mean 720 kB floppy disk.

[2018-10-19 12:13] ofry commented on #43
So why impossible this way?

When we first start any content (or "just core"),

if no disks present, core should create new disk and format it.
I/O on these images should save via libretro SRAM interface.

[2018-10-19 12:14] ofry commented on #40
I give more precise explanation there:

https://github.com/libretro/fmsx-libretro/issues/43

[2018-10-19 13:17] gingerbeardman commented on #43
The core behaves identically to an MSX.

You are asking to change the behaviour of a historical computer system.

Any thoughts @twinaphex ?

[2018-10-19 14:11] fr500 commented on #43
@ofry seems perfect this way, if you do start core without a disk it doesn't have a disk I don't see a problem.
@gingerbeardman what you could do is leverage the disk control interface to insert disks or whatever.

The idea of using the SRAM interface for saves may sound appealing at first, but remember that you started without content, so the disk wouldn't be tied to a game.

[2018-10-19 14:30] ofry commented on #43
@fr500

So should be core option "Default disk drives count". (0 - default, can be 0; 1; 2)

[2018-10-19 14:30] hizzlekizzle commented on #43
IIRC, Nestopia saves IPS patches that are applied to the pristine disk images to handle saving. Dunno if that's doable/desirable in this case.

[2018-10-19 14:31] ofry commented on #43
@gingerbeardman

Standalone core HAS I/O.

Proof:

![screenshot - 19 10 2018 17_27_55](https://user-images.githubusercontent.com/11790863/47224697-ca8ba400-d3c4-11e8-8243-4388587317ef.png)

[2018-10-19 14:34] fr500 commented on #43
It also has a wimp gui with mouse and keyboard. That means nothing.
And no, not a core option, disk control interface.

[2018-10-19 14:40] ofry commented on #43
It's OK, if I can create and format new disk through libretro interface.

[2018-11-07 07:35] symbios24 opened #44 "Additional Support"
Hello, is it possible to add support for the Msx TurboR ???

Thanks

[2018-11-07 10:40] gingerbeardman commented on #44
You'd have to ask at the source: http://fms.komkon.org/fMSX/

BlueMSX core does support Turbo R.

Also, just 8 games took advantage of Turbo R:
https://www.msx.org/wiki/MSX_Turbo_R

And the cool GUI operating system, MSX View:
https://youtu.be/sb8n58LoUuA

[2019-04-29 07:40] luzianscherrer opened #46 "Virtual Keyboard"
I've used fMSX PSP (http://psp.akop.org/fmsx.htm) before which has a great virtual keyboard that you can use to enter any keyboard input. Shouldn't there also be such a thing in fMSX if run in RetroArch? I don't get how I can do keyboard input which is often needed in games...

[2019-07-04 10:10] TheGershon opened #47 "Inputs registered twice"
Regardless of RA controller settings, inputs are registered twice. Happens either with emulated joystick or keyboard controls. I noticed this while entering a name in New Devil Golvellius, as it makes it impossible to enter anything coherent. Happens in the 3DS port as well, so it's not just an issue on RA for Win64.

![New Devil Golvellius (Disk 2)  EN -190704-030718](https://user-images.githubus

[2019-07-04 13:30] gingerbeardman commented on #47
If you can help me even get the game running (what settings?) then I can assist.

I downloaded it here: http://www.smspower.org/golvellius/golv2.html

[2019-07-04 20:28] TheGershon commented on #47
That download didn't even load into the game for me, instead throwing me into the MSX prompt.
I got this one (in english) here: https://www.generation-msx.nl/software/compile/new-devil-golvellius/translations/1138/
As a side note, it seems the game requires swapping to the 3rd disk in order to save. Setting up an m3u file for the blueMSX core was easy, but this seems to be unsupported by fmsx. blu

[2019-07-04 22:53] gingerbeardman commented on #47
Yeah, a port of blueMSX would be ideal but sadly it's not forthcoming. Meanwhile I try to fix or add what I can to fMSX.

[2019-07-04 22:56] gingerbeardman commented on #47
I get the MSX prompt in both the above versions of the game... how odd.

Will need to check more of my setup, system ROMs, etc

[2019-07-06 01:24] TheGershon commented on #47
I had the same problem. Started launching other games (.rom) and tried it
again and it worked. Didn't change anything else so idk what I did exactly
to make it work.

[2019-07-06 11:15] gingerbeardman commented on #47
I will try to find another game with keyboard entry that will work.

[2019-07-06 11:16] gingerbeardman opened #48 "Not the same success loading games as standalone fMSX 4.9"
- Sometimes a game loads
- Other times you just get to the MSX DOS prompt

From: https://github.com/libretro/fmsx-libretro/issues/47#issuecomment-508887149

Example: Golvellius 2 English DISK B
https://www.generation-msx.nl/software/compile/new-devil-golvellius/translations/1138/

Same DSK file runs OK in fMSX 4.9 standalone

[2020-08-03 14:54] Edu789 opened #51 "Feature Request] Core for Wii"
Hi there, just wondering why this core is not available on Retroarch for Wii. Any chance it could be made to work on the Wii? Thanks.

[2020-08-03 16:36] gingerbeardman commented on #51
It is unfortunate.

Thankfully there is a better MSX emulator for Wii, standalone not RetroArch.

https://wiibrew.org/wiki/BlueMSX-wii

[2020-08-11 02:41] Edu789 commented on #51
The BlueMsx is bad for having to configure each game to play, it ends up becoming boring, it would be simpler if it had a Retroacrh core...

[2020-08-11 19:17] gingerbeardman commented on #51
@Edu789 sure, my point was that you can use BlueMSX _right now_ or you can _wait_ for a RetroArch core.

[2020-08-19 12:23] Edu789 commented on #51
Ok

[2020-10-04 12:08] #51 closed

[2020-12-17 15:52] Darknior commented on #28
Arg so bad you can't finish your port of v5 :(
I have many problems with BlueMSX, many games not working fine ... we have not any good MSX emulator on libretro.

[2020-12-18 15:52] gingerbeardman commented on #28
That odd, because BlueMSX is much much better! Check your setup.

[2020-12-18 19:54] Darknior commented on #28
@gingerbeardman for sure its a good emulator. But there are not many core settings. I dont remember what emulator ive use by thé past to test and made my set on PC, all the games working fine. Now on batocera with this libretro emulator si many games are not working fine.

[2020-12-19 09:35] gingerbeardman commented on #28
tell me one game specifically so I can confirm, then start an issue on that core.

[2020-12-19 22:41] Darknior commented on #28
I've try again and many many games and you are right, they working fine for MSX2 and 2+
So strange ...
- Gradius 3 Legend is not working fine, freeze image on ship select but not sound music

[2021-01-19 00:38] liberodark commented on #28
5.9 is out and have many fixes http://fms.komkon.org/fMSX/fMSX59.zip

[2021-01-19 18:54] gingerbeardman commented on #28
Nice! Over to you @liberodark

[2021-01-19 18:54] #28 closed

[2021-01-19 19:07] liberodark opened #57 "Many Options can be added now"
In fmsx 5.9 have lot options can be added in libretro core : https://github.com/libretro/fmsx-libretro/pull/56

I'll let you look at the next options and add whatever you want.

[code]

[2021-01-20 00:25] Darknior commented on #48
So strange ... have you found why ?
Some bugs already present in 4.9 are always in 5.9 too ...

[2021-01-20 00:31] liberodark commented on #48
I think is core lr

[2021-11-06 19:58] #48 closed

[2021-11-14 18:30] cayce-msx commented on #57
Good idea @liberodark! Let's see option by option:

[code]
Summarizing potential additions (with code hint):
- autofire on/off - OPTION(MSX_AUTOSPACE|MSX_AUTOFIREA|MSX_AUTOFIREB)
- mapper 0-7 - see #define MAP_*
- joystick 2 - SETJOYTYPE(1,1)
- simbdos - Mode|=MSX_PATCHBDOS

All of these are already supported in fMSX 4.9 and can thus already be picked up.
I'll create a branch and probably can make

[2021-11-16 05:40] twinaphex opened #68 "Question to cayce-msx"
Hi there @cayce-msx , since you seem to be quite knowledgeable about this emulator/core, I'd like to ask a question -

* MIDI logging - is this something we could take out of the core? Does it serve any purpose from a pure gameplay perspective for the user, or is it something only developers would ever care about and it has no practical purpose? I think it's probably best for this core's sake to r

[2021-11-17 05:44] twinaphex commented on #68
Hi @cayce-msx ,

so I went ahead and removed it.

https://github.com/libretro/fmsx-libretro/commit/4075730c82b69d9be4dd3acdcec72884dfa2f250

Can you check if it has no repercussions for regula gameplay? The MIDI soundtrack logging itself doesn't seem to be a function of the MSX itself so I felt it was good to remove this to reduce some further file I/O from the core and also to boil this core down

[2021-11-17 20:23] cayce-msx commented on #68
@twinaphex I can see nothing that would break by this commit. I tested a few games (PSG, SCC & FM-PAC) and heard only expected sound/music.

MIDILogging could only be turned on/off in the in-emulator menu of fMSX, which is left out of this port (sort-of replaced by RGUI). So it was indeed unreachable code.

It appeals to gamers wanting to record the in-game music to MIDI for later playback. I gues

[2021-11-17 20:33] cayce-msx opened #70 "where are build errors published?"
@twinaphex I saw that the previous upgrade to 5.9 was reverted due to build failures. Can I (or everyone, rather..) see those build failures? You commented earlier that nightly builds (of all platforms that the cores are built for) can be downloaded via RA. But what if a build fails? Is a build log published somewhere? Or is that on a site only available for appointed maintainers?

I'm asking this

[2021-11-17 20:34] cayce-msx commented on #4
@twinaphex maybe close this one? It's 6 years old, no comments & either fixed by now, or not important..

[2021-11-17 20:43] twinaphex commented on #68
Sure, I will hold off until you are done with the backports.

[2021-11-17 20:44] cayce-msx commented on #44
Well, there's actually ~ 201 games: https://www.generation-msx.nl/software/result?q=&searchtype=&sy[]=Turbo-R

But. fMSX just doesn't support Turbo-R; that's not going to happen anymore. And fmsx-libretro is simply a port of fMSX - making sure that the fMSX core runs in RetroArch.

The upside is that openMSX and BlueMSX do a pretty good job at emulating the Turbo-R, and more (like the V9990 video

[2021-11-17 20:48] cayce-msx commented on #57
@twinaphex  I'd like to propose to close this one; all possibly useful options have been implemented now.

[2021-11-17 20:51] cayce-msx commented on #46
is this the same as #22 ?

There is a "Keyboard" Control (only for Player 1) but I guess that would not work on a console; it uses the host keyboard which only a full-blown computer has ;)

[2021-11-17 21:00] gingerbeardman commented on #46
Yes, it's a dupe of my old #22

[2021-11-19 09:45] cayce-msx commented on #57
In case anyone would be interested: the fMSX menu (which is not ported to this core) supports setting joystick autofire (MSX_AUTOFIREA or MSX_AUTOFIREB). RA supports this generically for all cores; here's how to do that:

[code]

[2021-11-19 09:50] cayce-msx opened #71 "Piecewise upgrade to fMSX 6.0"
See https://fms.komkon.org/fMSX/fMSX.html#LABA

I'm registering this issue to highlight that I'm busy with this task.

[2021-11-20 10:34] cayce-msx commented on #46
@twinaphex can you close this as duplicate?

[2021-11-21 11:05] cayce-msx commented on #71
Note: version 5.1 introduced a problem with PSG+SCC sound interference. I'll fix that in the PR going from 5.3 to 5.8. I'm also very interested to learn if these upgrades build fine on all platforms, that's why I'm continuing with this PR first in stead of fixing the sound problem.

[2021-11-23 20:00] cayce-msx commented on #47
I've been able to reproduce this one. I guess it has to do with the way the libretro.c wrapper translates retroarch keyboard event to the fmsx core; it does not happen with fMSX standalone. I'll see if I can fix it. For the moment, other issues have higher prio for me.

[2021-11-23 22:03] ofry commented on #43
Why you close this issue? I know now it can't be implemented without new version of libretro API. But there is a reason to add runtime media control to libretro.

[2021-11-26 09:40] cayce-msx commented on #43
@ofry I fully agree with what all others already remarked. You can create a .dsk file yourself (on any *nix variant, including macOS, cygwin and Linux) using

`dd if=/dev/zero of=empty.dsk ibs=512 count=1440`

Then load empty.dsk as content, and after booting type

`_format "A:"`

Note that fmsx-libretro also supports .rom and .cas files (well actually, I'll fix #23 shortly) so don't get hung up s

[2021-11-30 21:14] #23 closed

[2021-12-01 22:45] #71 closed

[2021-12-01 22:50] twinaphex commented on #70
Hi, is this still relevant? Or can we close this?

[2021-12-02 12:14] cayce-msx commented on #70
Well, if there is any way I could see build logs for all platforms that fmsx-libretro is being built on, that would be awesome. (I was hoping you knew & could supply some URLs, for example.) But if those logs are not accessible then it's okay to close this issue.

[2021-12-03 19:10] #57 closed

[2021-12-04 18:51] #21 closed

[2021-12-06 19:42] #68 closed

[2021-12-06 19:42] #70 closed

[2021-12-08 07:36] Kelvfimer opened #88 "FMSX 6 no SCC on sd Snatcher"
Hello

Thx for porting fmsx6. I was testing it and I see that at least for me there is no way to set up SCC+ on SD Snatcher. Has it been ported?

SCC seems to work.

thx for your support.

[2021-12-08 21:27] cayce-msx commented on #22
Could be solved with [libretro/RetroArch#6209](https://github.com/libretro/RetroArch/issues/6209)

[2021-12-08 21:45] cayce-msx commented on #40
A PR is now active for #43; it will enable actually saving disk image changes to the host, if you configure that (the default will be to retain current behaviour, which is to simply 'forget' (throw away) disk updates when exiting RetroArch. (Internally, all content images - CAS,ROM,DSK,M3U alike) are read into memory and all processing thereafter happens in memory.)

As for SRAM: @gingerbeardman i

[2021-12-08 21:49] cayce-msx commented on #11
@gingerbeardman  @twinaphex who has rights to close issues? This one was not reproducable anymore 4 years back - I'd say close it.

[2021-12-08 21:57] gingerbeardman commented on #11
@cayce-msx I do not have perm to close issues, sorry!

[2021-12-08 21:59] cayce-msx commented on #10
@gingerbeardman could you share some details about "the recent keyboard remapping UI change"? I have no clue what those are. With a bit of context I might be able to find out, by digging thru the code of RetroArch.

[2021-12-08 22:17] gingerbeardman commented on #10
Thanks for asking, I have sat here for a few minutes and I cannot recall what those were. I also checked blog posts and found this:

https://www.libretro.com/index.php/retroarch-1-7-2-released/

[2021-12-09 05:16] #43 closed

[2021-12-09 05:16] #44 closed

[2021-12-10 00:02] ofry opened #90 "Feature request: Add option to SRAM-ify I/O"
I mean: Instead of actual saving modified *.dsk image, core should save only diff patch and put it through SRAM interface to *.srm file. So, if save state SRAM save support is ON (by default), it should be patched in memory after loading save state.

[2021-12-10 00:03] ofry commented on #90
Something like it, as I heared, was in FCEUmm core when using FDS mode.

[2021-12-10 00:06] ofry commented on #90
Related to #40

[2021-12-10 00:09] gingerbeardman commented on #90
Cool idea!

[2021-12-10 00:15] ofry opened #91 "Feature request: creating empty disk images through libretro interface"
Related to https://github.com/libretro/fmsx-libretro/issues/43#issuecomment-979826975

It can "work" in PC. But if I launch core from some hacked game console with CFW? Or I have Lakka without direct access to shell etc.?

etc. etc.

Related to #90. If we have libretro SRAM interface, so all "new-created empty disks with some content placed by core" we can store via libretro SRAM interface.

[2021-12-10 00:21] ofry opened #92 "Feature request: cheevos support"
Retroachievements project already has MSX support, and developed achievements for some MSX games: https://retroachievements.org/gameList.php?c=29

[2021-12-11 15:31] cayce-msx commented on #47
Apologies, people. I've fiddled with this quite a bit but can't seem to find a proper fix. I do notice that this game has input quirks on other emulators as well, but no inputs being registered twice elsewhere. I'm hoping this is the only game having this problem on libretro-fmsx (it seems to implement its own keyboard scanning). For now, use blueMSX-libretro when playing this game...

[2021-12-11 15:37] cayce-msx commented on #91
Sure, I can build this. But just out of curiosity: what would you _use_ this functionality for on a game console (without physical keyboard)?

Note that a virtual keyboard is not there (see #22 - would require a modification to RetroArch itself) so there would be no way to enter a BASIC program - which is the only thing you can do with an empty disk; an empty disk makes an MSX boot into the MSX-BA

[2021-12-11 15:56] gingerbeardman commented on #91
Some games require an empty user disk for saves.

eg. The Golf (1989, Pack-In-Video)

https://www.generation-msx.nl/software/pack-in-video/the-golf/1121/

https://gamefaqs.gamespot.com/msx/953282-the-golf/faqs/77373/loading

[2021-12-11 16:19] cayce-msx commented on #10
I think I know what this provides, but it doesn't solve your request. I.e., you can only remap (permute, if you will) keys that are already defined. I tried but cannot add any extra keys. This'll have to be done inside the core. I'll give it a spin and see what autechre says about it.

[2021-12-11 19:11] cayce-msx commented on #91
Ah. That would only be useful for multidisk games. I just implemented that using m3u files. Adding an empty disk to that set beforehand would seem more intuitive to me. But, if you guys really think you can benefit from it I'll whip up some code. There's an RGUI menu option to append a fresh image to the set. Note that I have no way of saving that, since there is no file name given. That'll have t

[2021-12-12 05:31] Kelvfimer commented on #88
Thx for your work again. I tested in fmsx Android and same behaviour. Maybe it's an issue with Manuel Pazos translation and fmsx. Anyways, scc works and that's good for me. Now we have fmsx updated in retroarch and i hope you can keep updating it in future releases. Thx so much for your work

[2021-12-12 05:31] #88 closed

[2021-12-12 19:10] #10 closed

[2021-12-13 00:39] #11 closed

[2021-12-14 07:26] haojiezhu opened #95 "“fmsx_libretro.info” on buildbot needs to be updated for .m3u support"
Not sure if this is the right place to report this issue. While .m3u support was already in the latest core update, “fmsx_libretro.info” from buildbot (inside https://buildbot.libretro.com/assets/frontend/info.zip) wasn’t updated and doesn’t include .m3u in “supported_extensions”. This prevents the core from loading .m3u or showing “Disc Control” in Quick Menu.

I manually added .m3u to “fmsx_libr

[2021-12-14 11:08] gingerbeardman commented on #95
That file is here https://github.com/libretro/libretro-super/blob/master/dist/info/fmsx_libretro.info if you want to update and open a Pull Request to get that changed accepted.

[2021-12-20 19:44] #95 closed

[2021-12-22 12:29] freq-mod opened #96 "DSK images don't work"
As of cd2d59a I can't load anything in .dsk format, be it demo or game (Sonyc). All required firmware ROMs are present.

[2021-12-22 14:39] cayce-msx commented on #96
@freq-mod could you provide a bit more details? Works fine on my machine ;) Have you tried a build _after_ cd3d59a?
If that also fails: I'd like to know what platform you use, which .dsk images, do .rom files still work, what version of RetroArch & libretro-fmsx. If at all possible, please provide logs - see https://docs.libretro.com/guides/generating-retroarch-logs/

[2021-12-22 14:48] cayce-msx opened #97 "MSX2+ boot screen skipped"
When booting in MSX2+ mode, the flashy boot screen is not shown. Note: fMSX itself _also_ does not do this.

I tried resolving this, and called in some help at https://www.msx.org/forum/msx-talk/emulation/msx2-boot-screen-in-fmsx, but was not able to solve this. (F4 port and Kanji driver ROM done, but not sprite collision detection & timing)

Might not be possible, given the limited emulation accu

[2021-12-22 14:59] cayce-msx opened #98 "Tearing at scanline 192, and NTSC/PAL switching is incomplete"
Games like Nyancle Racing, Undeadline and Famicle Parodic draw more than 192 scanlines. Tearing, i.e., visually 'mixing' frames, occurs since libretro-fmsx refreshes the screen at that scanline.

Also, selecting NTSC or PAL vide mode only affects VBlank timing, but not the maximum # scanlines nor line coincidence threshold.

[2021-12-22 15:04] cayce-msx opened #99 "feature request: implement even/odd pages and interlacing"
The MSX2(+) can show 424 separate lines in interlacing+even/odd mode (possibly even more, with overscan). However, the involved VDP[9] bits 2 and 3 are currently ignored by fmsx-libretro.

[2021-12-22 15:16] freq-mod commented on #96
I have two devices: Anbernic RG351 (64-bit ARM Linux) with RetroArch 1.9.13, fMSX ver 4.9. only ROM works, dsk files don't - machine boots to MSX BASIC, nothing happens then.
Second device is Powkiddy V90 (Miyoo/Bittboy, ARM Linux) with RetroArch 1.9.14, fMSX 6.0 cd2d59a. The same as above - ROMs work fine, DSKs don't the same way as above.
[dsk.zip](https://github.com/libretro/fmsx-libretro/files

[2021-12-22 15:25] cayce-msx opened #100 "feature request: overscan"
fMSX implements overscan * but only the regular max. 212 scanline will be shown by libretro-fmsx.

*) max. 256 lines, which is enough for NTSC max of 243. For PAL, opinions vary from 256 to 313 - see https://www.msx.org/forum/development/msx-development/here-you-can-see-all-msx2-vram-your-screen.

This is used by a few games from Matra, a game engine by Grauw and, of course, by quite a few demos.

[2021-12-22 15:32] freq-mod commented on #96
Update: newest build doesnt work either, it seems

[2021-12-22 17:03] cayce-msx commented on #96
Thanks, I'll try to reproduce your problem with that info.

Regarding 4.9: there was a long-standing bug in that version that would only open .dsk files, not .DSK... And the same for .rom vs. .ROM. Fixed in 6.0. Does upgrading fMSX in your Anbernic device solve that issue? (your Powkiddy should not have that problem; I'll see what I can do)

[2021-12-22 17:59] freq-mod commented on #96
Well, updating fMSX in Anbernic won't be an option likely, because RetroArch is as a part of ELEC system, so I can't just drop in an updated core, more steps would have to be done. Still - even on Windows 11 I have the same problem, fyi

[2021-12-22 21:15] cayce-msx commented on #96
That's odd.. All three work fine on my local build on Linux (x86) and RetroPie (ARM7). Didn't try yet on Windows (10 in my case); will do that asap.

I'll add some debug logging code back (was removed by the maintainer to get rid of stdout interaction) to have a bit more to go on in the future.

Apologies - I know very little of the plethora of devices that RetroArch runs on. I've actually never h

[2021-12-22 21:36] freq-mod commented on #96
I think yes, at worst I will just ask for compiling tips if I jump into some roadblock. I have a toolchain, so it shouldn't be too problematic I hope...
p.s. changing filenames to lower case and seeting machine to msx2+ doesnt help

[2021-12-22 21:43] #98 closed

[2021-12-23 09:33] cayce-msx commented on #96
One last thought before I start adding log code: could it be that your disk rom isn't loaded somewhow? I forgot to ask what you actually _do_ see when starting .dsk images and being presented with a prompt. Do you just see "MSX BASIC version x.y" or also "Disk BASIC version 1.0"?

The DISK.ROM must be named like that (capitals!). The standard one has SHA1 032cb1c1c75b9a191fa1230978971698d9d2a17f.

[2021-12-23 12:28] freq-mod commented on #96
OK, so DISK.ROM was the problem. Now everything works fine

[2021-12-23 12:28] #96 closed

[2021-12-23 12:30] freq-mod opened #102 "MSX-MUSIC YM2413 emulation"
It's more of a request - is it possible to improve, or add proper YM2413 emulation? Right now it's just square waves, it sounds awful.

[2021-12-23 12:47] freq-mod commented on #102
this fork has a more proper YM2413 emulation 🤔 https://github.com/pthalin/bittboy-msx/blob/master/src/YM2413.c

[2021-12-23 12:56] gingerbeardman commented on #102
But that file is an old version of what is already included: https://github.com/libretro/fmsx-libretro/blob/master/EMULib/YM2413.c

So could it be a settings/configuration issue your end?

[2021-12-23 13:00] freq-mod commented on #102
This file doesn't have built-in syntheszier parameters (`static const byte Synth2413`), so no.

[2021-12-23 13:05] gingerbeardman commented on #102
That was removed as part of the removal of MIDI logging.

https://github.com/libretro/fmsx-libretro/commit/45b120f846d530bdc2cede87e8263ea6d883dd96#diff-29f62c658b938a727012ecfab3bed3bf35d98ae385ecb487240a6c3a3f9217a9

@freq-mod seeing as you have some experience with this, if you could advise @cayce-msx on how that broke things that would be appreciated!

[2021-12-23 13:15] cayce-msx commented on #96
Great! Good to hear that. Happy gaming!

Could you close this issue? I don't have rights for that.

[2021-12-23 13:15] cayce-msx commented on #96
Great! Good to hear that. Happy gaming!

[2021-12-23 13:19] freq-mod commented on #102
everything after line 55 should have never been removed. Yamaha YM2413 chip 15 built-in FM tones + 5 built-in FM drums. That's the feature of a chip, not a MIDI bloat.

[2021-12-23 13:21] cayce-msx commented on #102
Well, FM-PAC emulation is indeed very poor in fMSX. Also in the standalone product. Indeed, just triangle waves. Autechre wanted all MIDI code to be removed - which is a good thing, because MIDI output in fMSX/Win _also_ doesn't sound very much like a true FM-PAC. So I did. The Synth2413 constant actually isn't used in fMSX 6.0 (Unix source code from komkon.org) itself.

I was contemplating copyin

[2021-12-23 13:24] cayce-msx commented on #102
So yeah, I'm really curious what Synth2413 is doing in fMSX. Maybe Marat put that in as a first step but never completed it. AFAIK fMSX/Win also sounds exactly the same - but I can't be sure, as the fMSX/Win code is not open.

There's just 2 hits in the fMSX/X 6.0 code searching on Synth2413:

/** Synth2413() **********************************************/
static const byte Synth2413[19*16] =

Tha

[2021-12-23 13:38] freq-mod commented on #102
the fork that I linked before had YM2413 working

[2021-12-23 13:54] cayce-msx commented on #102
That's awesome! That name sounds familiar, I think I saw it in bluemsx and/or openMSX code. I'll try and merge that branch. Unless you want to have a go at that? PRs are always welcome.

[2021-12-23 13:57] freq-mod commented on #102
the one in this fork in extremely ancient (2001) and outdated. It's best to use whatever openMSX uses, or at least, the upstream from https://github.com/digital-sound-antiques/emu2413

[2021-12-27 13:20] cayce-msx commented on #91
Hey @ofry @gingerbeardman I just pushed an implementation for this at https://github.com/cayce-msx/fmsx-libretro/tree/create-empty-disk-images. Could you compile & test that, to see if this is what you are looking for? If you're not able to build yourself, I could also directly send a PR to autechre, but preferably I'd first have your feedback before doing that. Otherwise just scroll through the c

[2021-12-27 13:48] cayce-msx commented on #40
@ofry At https://www.generation-msx.nl/software/konami/knightmare-iii---shalom/946/ I see that this is a ROM game that can save to SRAM: "save support depends on the Konami Game Master 2 cartridge". **fMSX supports that**, **but** relies on GMASTER2.ROM to be present in the RA system dir (same location as MSX2P.ROM etc). SHA1 for that is 5c00f9e3a48411e08fac89b1dfdd2a6e95853919. Without it, fMSX w

[2021-12-27 14:01] gingerbeardman commented on #91
I'm away for holiday break right now so can't build for a week. FWIW

[2021-12-27 20:36] ofry commented on #40
@cayce-msx This game can search saves on disk and cassette tape. So I think, for example, can create blank formatted tape and save it via fMSX core. Then it goes to SRAM interface of Retroarch https://github.com/libretro/fmsx-libretro/issues/91
if I open this game again, it should be possible to load this save.

[2021-12-27 20:46] ofry commented on #91
@cayce-msx could you do this for cassette tape too?

[2021-12-27 22:21] cayce-msx commented on #40
I'm busy with coding #90 for disk I/O, although I _do_ think it's stretching things - the SRAM functionality in RetroArch is really meant for, well, SRAM, exactly the way an MSX used it. But anyway, I'm building it; let's see what autechre thinks of it.

As for tape, I'll leave that for someone else to build.

Have you attempted to retest my suggestion above with GMASTER2.ROM? Mind you, SRAM will

[2021-12-27 22:24] cayce-msx commented on #91
I'll repeat what I just stated in #40: "As for tape, I'll leave that for someone else to build." This issue is about creating _disk_ images, and I'm happy keeping that scope.

You have a way of keeping a person busy ;)

[2021-12-27 22:24] ofry commented on #40
Sorry, I haven't GMASTER2.ROM :( and can't find it in MSX BIOS collections

[2021-12-27 22:26] ofry commented on #91
OK. Then you can make the PR from https://github.com/cayce-msx/fmsx-libretro/tree/create-empty-disk-images and close this issue.

[2021-12-28 07:53] cayce-msx commented on #90
@twinaphex please advise before I submit a PR that would only be rejected. Options:
- use `retro_get_memory_data(RETRO_MEMORY_SAVE_RAM)` to persist generated IPS to .srm: has **dynamic** size - is that supported?
- same, but persist .dsk (720KiB per disk): might be too large? fceumm does: `if (GameInfo->type == GIT_FDS) return FDSROM_ptr()` - is that the complete image, and how large can that be?

[2021-12-28 15:10] cayce-msx commented on #4
@ofry could you try again, or maybe drop this? On https://www.retroarch.com/?page=platforms it says "Coming soon", and https://buildbot.libretro.com/nightly/playstation/ has no ps3 folder, which implies even RetroArch itself does not support PS3.

[2021-12-28 17:43] #40 closed

[2022-01-03 20:07] cayce-msx commented on #92
@ofry @gingerbeardman could you give some background info and/or assistance for this one? I found:
- https://retroachievements.org/download.php mentions MSX twice
- https://docs.retroachievements.org/RALibretro/ does NOT mention MSX, although it is listed in the first URL?!
- https://docs.libretro.com/guides/retroachievements/#cores-compatibility mentions **blueMSX**, **FinalBurn Neo** (? didn't k

[2022-01-03 23:28] gingerbeardman commented on #92
I've never used them before, I doubt I will in future.

From my understanding the memory is made available so one or more addresses can be monitored for specific values that will trigger the achievement.

[2022-01-04 08:42] cayce-msx commented on #92
Thanks for responding so quickly! Then I'll await @ofry for some more info - for starters: "which core was used to gain the achievements logged for the 16 games listed".

[2022-01-04 09:15] ofry commented on #4
You can safely drop this. I haven't toolchain for test it now...

[2022-01-04 09:15] #4 closed

[2022-01-04 09:19] ofry commented on #92
@cayce-msx You should communicate with @Jamiras for this. He deals most of cheevos support on Retroarch. I'm only user of Retroachievements, not a dev there.

[2022-01-04 09:26] ofry commented on #92
@cayce-msx As I read on https://docs.retroachievements.org/Emulator-Support-and-Issues/ achievements should be working on BlueMSX core.

[2022-01-04 09:39] ofry opened #107 "Save state glitches in MSX2+ mode"
Test case: Knightmare III - Shalom game.

1) set MSX mode as MSX2+ in fMSX core options.
2) save state on title screen.
3) reset through Quick Menu.
4) Immediately load state.

Result:
![Knightmare III - Shalom (English) Beta 4-220104-123425](https://user-images.githubusercontent.com/11790863/148039404-8b586758-2e6f-46d6-b125-65b563e3bd64.png)

[2022-01-04 17:21] Jamiras commented on #92
From a core's perspective, all you have to do to support achievements is expose the memory properly and not modify the game files. `RETRO_ENVIRONMENT_SET_SUPPORT_ACHIEVEMENTS` defaults to true, so it's not necessary to explicitly call it.

As you've already found, this is the important information:
[code]
The first three columns are the RetroAchievements start and end addresses, and the "real" add

[2022-01-06 11:14] cayce-msx commented on #107
@ofry nice find! I bet this one is fixed when PR 105 is merged. It's related to switching resolution when showing the MSX2 boot screen. Which is a bit odd, as you mention MSX2+. So there might still be a problem left, related to picking up core options incorrectly.

So, please hold on until that PR is merged and released. Then retest & let me know.

[2022-01-07 11:09] #100 closed

[2022-01-07 11:09] #99 closed

[2022-01-07 14:29] cayce-msx commented on #92
@Jamiras thanks for the explanation! I got an account, cfg'd RA, prepped the right hash for SD-Snatcher (that actually took the most time!) and bingo - I 'achieved' "Welcome to JUNKER" using fmsx-libretro (git commit 51e50ebd), in RetroArch on Linux - see https://retroachievements.org/user/cayce. No code changes required!

@ofry please test this on your setup. Note that e.g. Aleste doesn't start w

[2022-01-07 16:01] Jamiras commented on #92
Glad to hear.

I'm kind of surprised that worked. That version of RetroArch is almost four years old. The current version is 1.9.14. We've completely rewritten the achievement runtime and added a lot of new features since then.

[2022-01-07 16:44] cayce-msx commented on #92
That's the version that comes with my Ubuntu package manager. I also tried on a fresh git commit, built locally. Works fine too. I do indeed see quite some UI changes!

[2022-01-08 12:10] cayce-msx commented on #107
PRs are merged. Latest Win64 build is at https://buildbot.libretro.com/nightly/windows/x86_64/latest/fmsx_libretro.dll.zip

[2022-01-08 15:57] cayce-msx commented on #92
@Jamiras any idea why "[fMSX] emulation [would be] too unstable to support", who wrote that & when? (https://docs.libretro.com/guides/retroachievements/#msx-msx2) Would be nice to update, now that cheevos are working. (I documented some prerequisites in this core's readme in a PR just now.)

[2022-01-08 16:11] Jamiras commented on #92
It looks like it was added here: https://github.com/libretro/docs/pull/517
@Sanaki goes by KickMeElmo on discord.

[2022-01-08 16:24] Sanaki commented on #92
Yeah, I need to fix that. There were some issues with the core back when I wrote that, but it looks damn good now. It's been on my todo list, but my health has kept me from doing much lately. Still, I'll see about updating that page later today, because that definitely has aged poorly.

[2022-01-09 11:13] freq-mod commented on #102
I may take a closer look at it soon-ish... although with my current C(++) skills, I can't promise anything.

[2022-01-09 15:31] cayce-msx commented on #46
@luzianscherrer I know it's been a while but could you, being the reporter, consider closing this as duplicate with #22?

[2022-01-09 16:14] luzianscherrer commented on #46
Closing as duplicate of https://github.com/libretro/fmsx-libretro/issues/22

[2022-01-09 16:14] #46 closed

[2022-01-09 16:24] Sanaki commented on #92
PR submitted for the doc update: libretro/docs#692

I did notice some missing image warnings in the fMSX docs page, but that's an issue for someone with more time.

[2022-01-10 07:15] cayce-msx commented on #102
One thing to take into account is that better FM-PAC emulation might be a performance drain for low end devices. Best to add an option to switch current/new behaviour.

[2022-01-12 11:33] ofry commented on #107
Bug is fixed, thank you!

[2022-01-12 11:33] #107 closed

[2022-01-12 11:34] ofry commented on #90
@cayce-msx Twinaphex isn't responding, even in Discord. Could you just make the PR and see, will anyone from libretro team will merge it?

[2022-01-12 11:40] ofry commented on #92
OK. So I can close it...

[2022-01-12 11:40] #92 closed

[2022-01-12 11:48] twinaphex commented on #90
Hi there @cayce-msx , I'd prefer going through the first option if possible -

It'd be best not to have any kind of disk-based file I/O going on at all and do it strictly in-memory through the API functions.

[2022-01-12 11:48] #91 closed

[2022-01-12 13:05] ofry commented on #90
@twinaphex If game requires save to inserted disk, why it can't be handled by SRAM interface?

[2022-01-12 13:13] ofry commented on #90
So is your objection against dynamic-size .srm files?

[2022-01-12 13:20] ofry commented on #90
`save .IPS files: requires need_fullpath=false for soft-patching and will not work for multi-disk, which is the most obvious use case` - can't we handle ips patches for each disk in M3U?

[2022-01-13 18:33] freq-mod commented on #102
ok, so first problem - YM2413 emulation used in bittboy-msx port is dependent on this sdl library: https://github.com/pthalin/bittboy-msx/blob/master/src/SDLsnd.c

[2022-01-22 13:43] cayce-msx commented on #90
Aw - I'd just finished a solution using disk-based file I/O 10 days ago - and then the message above appeared. (I was busy with other things the past 10 days) I've now pushed that non-preferred solution to https://github.com/cayce-msx/fmsx-libretro/tree/fileio-based-patching for anyone interested. I'll restart with the suggested approach.

But first I have to find out how the SRAM API works. My 2

[2022-01-23 19:25] cayce-msx commented on #90
@ofry @twinaphex a PR for this is now available. I dropped the IPS 'compression'; the dynamic SRAM size issue bothered me too much. If it's an issue, maybe compressing .srm files within RetroArch could be contemplated? (Note: .state files _are_ compressed.) I tested a few situations, but didn't do rigorous testing. Note that for multidisk games, about 22MiB RAM is malloc'd to accomodate the maximu

[2022-01-23 19:37] cayce-msx commented on #90
Note: this'll be my last contribution for the coming months; I'll be working on another project. It's been fun to contribute to fmsx-libretro! Every few weeks I'll check in to see if any issues have been reported on code I contributed. New features will have to wait until later.

[2022-01-23 22:37] gingerbeardman commented on #90
Amazing work you have done here @cayce-msx thanks so much and best of luck!

What project are you working on next if you don't mind me asking?

[2022-02-09 10:17] cayce-msx commented on #90
@ofry the PR is merged some time now, Could you verify and if possible close this issue?

[2022-04-10 16:54] Kelvfimer opened #113 "SD-Snatcher and other disk game not autoloading"
Hell

I was using fb7b19c303a95d62dd51ce72a37e70b49c529e36 and I updated to 11fa9f3c08cde567394c41320ca76798c2c64670 and for example SD Snatcher is not autoloading anymore. You can download the version I'm using here https://www.box.com/s/dlyslgvr9vs8hvpohxll

I have also other cas and disk files that where autoloading that are not autoloaded.

is it any change on how it works?

thx

[2022-04-14 19:41] golvellius commented on #113
Hello,

Same problem for me.

thx

[2022-07-01 03:26] AngelofMe opened #114 "start is stop, f1 is select"
For most games STOP is the real PAUSE, F1 is the main Function key
this is a MSX standard controller
i guess Select is F1, Start is Stop
Up|Down||Left|Right
Select(F1)|Start(Stop)
A|B|X|Y (I|II)
![il_794xN 2136930115_flwi](https://user-images.githubusercontent.com/26894447/176817078-3dddeb14-801e-403c-bc58-4e47d36d0876.jpg)
![Screenshot_20220701-103134_Trebuchet](https://user-images.githubusercont

[2022-07-01 04:48] AngelofMe commented on #114
Official MSX Joypads
[Arvel M1868-1](https://www.msx.org/wiki/Arvel_M1868-1)

[Fujitsu FMT-PD103](https://www.msx.org/wiki/Fujitsu_FMT-PD103)

[Fujitsu FMT-PD104](https://www.msx.org/wiki/Fujitsu_FMT-PD104)

[Popolon NES Joypad For MSX](https://www.msx.org/wiki/Popolon_NES_Joypad_For_MSX)

[Quickshot QS-127](https://www.msx.org/wiki/Quickshot_QS-127)

[Spital Sangyo JOY-CONT Limited Edition](https

[2022-07-01 04:48] AngelofMe commented on #114
Official MSX Joypads
[Arvel M1868-1](https://www.msx.org/wiki/Arvel_M1868-1)

[Fujitsu FMT-PD103](https://www.msx.org/wiki/Fujitsu_FMT-PD103)

[Fujitsu FMT-PD104](https://www.msx.org/wiki/Fujitsu_FMT-PD104)

[Popolon NES Joypad For MSX](https://www.msx.org/wiki/Popolon_NES_Joypad_For_MSX)

[Quickshot QS-127](https://www.msx.org/wiki/Quickshot_QS-127)

[Spital Sangyo JOY-CONT Limited Edition](https

[2022-07-01 05:46] AngelofMe commented on #114
![IMG_20220701_134531](https://user-images.githubusercontent.com/26894447/176831669-3a989a5b-f3a4-4b85-a620-ce65abecc213.jpg)

[2022-07-07 12:54] #114 closed